* {
  margin: 0;
  padding: 0;
}

/* GENERAL STYLES */

/* 1. TAGS */
body {
  font-family: "Inter", sans-serif;
}

/* 2. IDS */

/* 3. CLASSES */

.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
}

.number,
.text {
  font-size: 24px;
  font-weight: 600;
  color: green;
}

.icon {
  stroke: green;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: gray;
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.open {
  border-top: 4px solid green;
}

.open .hidden-box {
  display: block;
}

/* 4. MEDIA QUERIES (RWD O MF) */
